<!DOCTYPE html>
<html lang="en">
<head>
    <title>File System</title>
    <link rel="stylesheet" type="text/css" href="css/file-system.css">
</head>
<body>

<div class="container">

    <h2 id="title"></h2>

    <a href="/">Dashboard Home</a>

    <ul id="breadcrumb" class="breadcrumb">

    </ul>

    <button class="btn_prev" onclick="changePage(-1)">Previous</button>
    <button class="btn_next" onclick="changePage(1)">Next</button>

    <span style="float:right;" id="txt_page">Page: </span>

    <span class="limit">
        <label for="input_limit">Limit: </label>
        <input type="number" min="1" id="input_limit" oninput="updateLimit()">
    </span>

    <br><br>

    <table id="file-table">

        <thead>
        <tr>
            <th></th>
            <th style="width:50%;" onclick="sortTable('name')">
                Name
                <img id="img_name" class="arrow" src="../img/expand_less.png">
            </th>
            <th style="width:25%" onclick="sortTable('date')">
                Date Modified
                <img id="img_date" class="arrow" src="../img/expand_less.png">
            </th>
            <th onclick="sortTable('type')">
                Type
                <img id="img_type" class="arrow" src="../img/expand_less.png">
            </th>
            <th onclick="sortTable('size')">
                Size
                <img id="img_size" class="arrow" src="../img/expand_less.png">
            </th>
            <th style="cursor: default">Action</th>
        </tr>
        </thead>

        <tbody id="file-table-body">

        </tbody>

    </table>

    <br>
    <button class="btn_prev" onclick="changePage(-1)">Previous</button>
    <button class="btn_next" onclick="changePage(1)">Next</button>

    <br>
    <br>
    <button style="background-color: #3498db; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;"
            onclick="zipItems()">Download selected items as .zip
    </button>

</div>

<script>
    const baseURL = "http://localhost:4000/file-system";
    let homeName = '';

    let currentPath = homeName; // Path
    let page = 1; // Page
    const limitInput = document.getElementById("input_limit");
    limitInput.value = "5"; // Limit
    let filter = '';
    let sortBy = 'type';
    let sortOrder = 'dsc';

    let lastClickedIndex = -1;

    async function fetchData() {
        try {
            const url = `/dir?path=${currentPath}&page=${page}&limit=${limitInput.value}&filter=${filter}&sortBy=${sortBy}&sortOrder=${sortOrder}`
            const response = await fetch(baseURL + url);
            const data = await response.json();
            console.log(data);
            homeName = data.homeName;
            currentPath = data.currentPath;
            document.getElementById("title").innerHTML = homeName;
            updateUI(data);
        } catch (error) {
            console.error("Error fetching or processing data:", error);
        }
    }

    function changePage(change) {
        page += change;
        fetchData();
    }

    function sortTable(criteria) {
        let arrow_image = document.getElementById("img_" + criteria);
        let allImages = document.getElementsByClassName("arrow");

        for (const img of allImages){
            img.style.visibility = "hidden";
        }
        arrow_image.style.visibility = "visible";

        if (sortBy === criteria) {
            sortOrder = sortOrder === 'asc' ? 'dsc' : 'asc';
        } else {
            sortBy = criteria;
            sortOrder = 'asc';
        }

        arrow_image.src = sortOrder === 'asc' ? "../img/expand_less.png" : "../img/expand_more.png";

        fetchData();
    }

    window.addEventListener('load', async () => {
        await fetchData();
    });

    function removeOneDir(path) {
        const pathParts = path.split('/');
        return pathParts.slice(0, -1).join('/');
    }

    function goUp() {
        currentPath = removeOneDir(currentPath);
        fetchData();
    }

    function goTo(path) {
        currentPath = path;
        fetchData();
    }

    function updateUI(data) {
        updateTable(data);
        updatePagination(data);
        updateBreadcrumb();
    }

    function updateTable(data) {
        const tableBody = document.getElementById('file-table-body');
        tableBody.innerHTML = '';

        for (const item of data.results) {
            const row = tableBody.insertRow(-1);
            const cell1 = row.insertCell(0); // Checkboxes
            const cell2 = row.insertCell(1); // Name
            const cell3 = row.insertCell(2); // Date Modified
            const cell4 = row.insertCell(3); // Type
            const cell5 = row.insertCell(4); // Size
            const cell6 = row.insertCell(5); // Action

            // If the item name is not '..', then add a checkbox
            cell1.innerHTML = item.name !== '..' ? `<input type="checkbox" value="${item.name}">` : '';

            if (item.name === '..') {
                cell2.innerHTML =
                    `<div>
                        <img class="parent_icon" src="../img/folder_up.png" onclick="goUp()" alt="parent directory">
                        <a href="#" onclick="goUp()">[parent directory]</a>
                     </div>`;
            } else if (item.type === "Folder") {
                cell2.innerHTML = `<a href="#" onclick="goTo('${item.url}')">${item.name}</a>`;
            } else if (item.type === "File") {
                cell2.innerHTML = item.name;
            }

            cell3.innerHTML = item.date;
            cell4.innerHTML = item.type;

            if (item.type === "File") {
                cell5.innerHTML = item.size_readable;
                cell6.innerHTML = `<button onclick="window.location.href='/download?filepath=${item.url}'">Download</button>`;
            }
        }

        let checkboxes = document.querySelectorAll('input[type="checkbox"]');

        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.addEventListener('click', event => handleCheckboxClick(event, i));
        }
    }

    const nextButtons = document.getElementsByClassName("btn_next");
    const prevButtons = document.getElementsByClassName("btn_prev");
    const pageText = document.getElementById("txt_page");

    function updatePagination(data) {
        for (let button of nextButtons) {
            button.disabled = !data.hasOwnProperty("next");
        }
        for (let button of prevButtons) {
            button.disabled = !data.hasOwnProperty("prev");
        }
        pageText.innerHTML = `Page: ${page}/${data.totalPages}`;
    }

    function updateBreadcrumb() {
        let breadcrumb = document.getElementById("breadcrumb");

        breadcrumb.innerHTML = '';

        let paths = currentPath.split('/');

        for (let i = 0; i < paths.length; i++) {

            let p = currentPath;

            for (let j = paths.length - 1; j > i; j--) {
                p = removeOneDir(p);
            }

            breadcrumb.innerHTML += `<li><a href="#" onclick="goTo('${p}')">${paths[i]}</a></li>`;
        }
    }

    /**
     * Enable shift-clicking to select multiple checkboxes at one go
     */
    function handleCheckboxClick(event, currentIndex) {
        let checkboxes = document.querySelectorAll('input[type="checkbox"]');

        if (event.shiftKey && lastClickedIndex !== -1) {
            const minIndex = Math.min(currentIndex, lastClickedIndex);
            const maxIndex = Math.max(currentIndex, lastClickedIndex);

            for (let i = minIndex + 1; i < maxIndex; i++) {
                checkboxes[i].checked = true;
            }
        }

        lastClickedIndex = currentIndex;
    }

</script>

</body>
</html>