<!DOCTYPE html>
<html lang="en">
<head>
    <title>File System</title>
    <link rel="stylesheet" type="text/css" href="css/file-system.css">
</head>
<body>

<div class="container">

    <h2>File System</h2>

    <a href="/">Dashboard Home</a>

    <ul id="breadcrumb" class="breadcrumb">

    </ul>

    <button class="btn_prev" onclick="changePage(-1)">Previous</button>
    <button class="btn_next" onclick="changePage(1)">Next</button>

    <span style="float:right;" id="txt_page">Page: </span>

    <span class="limit">
        <label for="input_limit">Limit: </label>
        <input type="number" min="1" id="input_limit" oninput="updateLimit()">
    </span>

    <br><br>

    <table id="file-table">

        <thead>
        <tr>
            <th></th>
            <th style="width:50%;" onclick="sortTable('name')">
                Name
                <img id="img_name" class="arrow" src="img/expand_less.png">
            </th>
            <th style="width:25%" onclick="sortTable('date')">
                Date Modified
                <img id="img_date" class="arrow" src="img/expand_less.png">
            </th>
            <th onclick="sortTable('type')">
                Type
                <img id="img_type" class="arrow" src="img/expand_less.png">
            </th>
            <th onclick="sortTable('size')">
                Size
                <img id="img_size" class="arrow" src="img/expand_less.png">
            </th>
            <th style="cursor: default">Action</th>
        </tr>
        </thead>

        <tbody id="file-table-body">

        </tbody>

    </table>

    <br>
    <button class="btn_prev" onclick="changePage(-1)">Previous</button>
    <button class="btn_next" onclick="changePage(1)">Next</button>

    <br>
    <br>
    <button style="background-color: #3498db; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;" onclick="zipItems()">Download selected items as .zip</button>

</div>

<script>
    const baseURL = "http://localhost:4000/file-system";
    const homeName = "File System";
    let currentPath = homeName;
    let page = 1;
    const limitInput = document.getElementById("input_limit");
    limitInput.value = "5";

    async function fetchData(url) {
        const response = await fetch(url);
        return response.json();
    }

    window.addEventListener('load', async () => {
        const data = await fetchData(baseURL + '/home');
        console.log(data);
    });

</script>

</body>
</html>